<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>The Cabbage Report</title>
    <link rel="stylesheet"
          th:href="@{/css/styles.css}">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>
<body>
<h1 style="font-family:poynter; font-size: 40pt" align="center">
    THE CABBAGE REPORT.
</h1>
<div class="container">
    <div class="containerBody">
        <th:block th:each="element : ${dataMap}" width="100%">
            <span style="font-size: 20pt" th:text="${element.key}"/>
            <br/>
            <table class="hoverTable">
                <tr>
                    <th>Name</th>
                    <th>Components</th>
                    <th>Cost to Craft</th>
                    <th>AH Sale Price</th>
                    <th>AH Cut</th>
                    <th>Total Profit</th>
                </tr>
                <th:block th:each="entry :${element.value}">
                    <tr>
                        <td th:text="'[' + ${entry.name} + ']'"/>
                        <td>
                            <th:block th:each="item :${entry.components}">
                                <a th:text="${item.value} + 'x [' + ${item.key} + ']'" th:href="@{'/itemPage/' + ${item.key}}"/>
                                <br/>
                            </th:block>
                        </td>
                        <td class="alignRight" th:text="${entry.craftingPrice} + 'g'"/>
                        <td class="alignRight" th:text="${entry.salePrice} + 'g'"/>
                        <td class="alignRight" th:text="${entry.ahCut} + 'g'"/>
                        <td class="alignRight" th:text="${entry.totalprofit} + 'g'"/>
                    </tr>
                </th:block>
            </table>
            <br>
        </th:block>
    </div>

    <div class="sidebar">
        <form action="#" th:action="@{/itemPage}"   method="post">
            <input list="itemNames" type="string" name="itemName" placeholder="type item name to search ..."/><br/>
            <datalist id="itemNames">
                <th:block th:each="name :${itemNames}">
                    <option th:value="${name}">
                </th:block>
            </datalist>
            <input type="submit" value="SEARCH"/>
        </form>
        <br/>
        <h4>Professions</h4>
        <h5>Gear</h5>
        <a href="/profession/Blacksmithing">Blacksmithing</a><br/>
        <a href="/profession/Leatherworking">Leatherworking</a><br/>
        <a href="/profession/Tailoring">Tailoring</a><br/>
        <br/>
        <h5>Consumables</h5>
        <a href="/profession/Alchemy">Alchemy</a><br/>
        <a href="/profession/Cooking">Cooking</a><br/>
        <a href="/profession/Engineering">Engineering</a><br/>
        <br/>
        <h5>Gathering</h5>
        <a href="/profession/Herbalism">Herbalism</a><br/>
        <a href="/profession/Mining">Mining</a><br/>
        <a href="/profession/Skinning">Skinning</a><br/>
    </div>/

</div>
</body>
</html>